<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- 이 앱이 웨어러블 디바이스(워치)용으로 설계되었음을 명시 -->
  <uses-feature android:name="android.hardware.type.watch"/>

  <!-- 기기가 슬립 모드로 전환되는 것을 방지하는 권한 -->
  <!-- 센서 데이터 수집이나 사용자 모니터링을 지속적으로 수행하기 위해 필요 -->
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <!-- 마이크 사용 권한 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <!-- 생체 신호 센서 데이터 권한 -->
  <uses-permission android:name="android.permission.BODY_SENSORS"/>
  <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"/>
  <!-- 위치 권한 -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <!-- 워치와 페어링된 모바일 기기와 통신하기 위한 권한 -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
  <!-- 포그라운드 권한 -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
  <!-- 알림 보내기 권한 -->
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <!-- 이 앱에서 사용되는 외부 패키지를 미리 명시 -->
  <queries>
    <package android:name="com.google.android.wearable.shieldrone"/>
  </queries>

  <application android:name=".MainApplication" android:icon="@mipmap/android_icon" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.Shieldrone.Starting">

    <service android:name=".services.HeartRateService" android:foregroundServiceType="mediaPlayback" android:exported="false"></service>

    <service android:name=".services.DataReceiverService" android:exported="true">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
        <data android:scheme="wear" android:host="*" android:pathPrefix="/sendPulseFlag"/>
        <data android:scheme="wear" android:host="*" android:pathPrefix="/dangerAlert"/>
      </intent-filter>
    </service>

    <service android:name=".services.WearableService" android:exported="true">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
        <data android:host="*" android:pathPrefix="/emergency_alert" android:scheme="wear"/>
        <data android:host="*" android:pathPrefix="/start" android:scheme="wear"/>
      </intent-filter>
    </service>

    <receiver android:name=".receivers.ScreenReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.SCREEN_OFF"/>
        <action android:name="android.intent.action.SCREEN_ON"/>
      </intent-filter>
    </receiver>

    <uses-library android:name="com.google.android.wearable" android:required="true"/>

    <!-- 모바일 앱에 의존 -->
    <meta-data android:name="com.google.android.wearable.standalone" android:value="false"/>

    <!-- 앱 실행 시 초기 화면 구성 -->
    <activity android:name=".MainActivity" android:exported="true" android:taskAffinity="" android:theme="@style/MainActivityTheme.Starting">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>